body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.nav-link{
  margin-left: 35px;
}

.col a {
  display: block;
  margin-bottom: 8px; 
  text-decoration: none; 
  color: #666; 
}


.footer-links-bar {
  display: flex;
  justify-content: center; 
  align-items: center;   
  flex-wrap: wrap;        
 
}

.footer-links-bar a {
  margin: 5px 15px;    
  color: #9b9b9b;      
  font-size: 13px;     
  text-decoration: none;
}

