body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 35px;
}

.f a {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #666;
}

.footer-links-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links-bar a {
  margin: 5px 15px;
  color: #9b9b9b;
  font-size: 13px;
  text-decoration: none;
}

a {
  text-decoration: none;
}


/* Universe section css */
.universe-logo {
  height: 40px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-text {
  font-size: 0.9rem;
  color: #9b9b9b;
  padding: 0 1rem;
}
